@import url('index.css');

.contact-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact-title{
    display: flex;
    flex-direction: row;
    max-height: 20px;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    width: 100%;
}

#contact-text{
    max-width: calc(var(--maxWidthSections)*0.9);
    min-width: calc(var(--minAppWidth)*0.9);
    width: 70%;
}

/* Mobile view: smartphone (horizontal) */
@media screen and (max-width: 940px) and (max-height: 440px){
    #contact-title{
        margin-bottom: 10px;
    }
}

/* Mobile view: smartphone (mini): horizontal */
@media screen and (max-width: 780px) and (max-height: 380px){
    #contact-title{
        margin-bottom: 10px;
    }
}