@import url('index.css');

.portfolio-content-container{
    display: flex;
    flex-direction: column;
}

.project-cards-container{
    display: block; 
    justify-content: center;
    align-items: center;
    overflow: auto;
    min-width: var(--minAppWidth);
    min-height: calc(var(--minHeightProjectCard)*var(--numberVisibleProjectCards));
    height: calc(var(--minHeightProjectCard)*var(--numberVisibleProjectCards));
    padding-top: 10px;
    padding-bottom: 10px;
}

.general-project-description{
    overflow-y: auto;
    font-size: 1.1rem;
    text-align: center;
    max-height: 240px;
    height: 90%;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 5px;
}

#portfolio-title{
    display: flex;
    flex-direction: row;
    max-height: 20px;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

/* Mobile view: laptop */
@media(max-width: 1930px) and (max-height: 1120px){
    .project-cards-container{
        height: calc(var(--minHeightProjectCard)*1.1*var(--numberVisibleProjectCards));
    }
}

/* Mobile view: tablet */
@media(max-width: 1030px) and (max-height: 1370px){
    .project-cards-container{
        height: calc(var(--minHeightProjectCard)*1.15*var(--numberVisibleProjectCards));
    }

    .general-project-description{
        max-height: 320px;
    }
}

/* Mobile view: tablet (mini): */
@media(max-width: 780px) and (max-height: 1050px){
    .project-cards-container{
        min-height: calc(var(--minHeightProjectCard)*1.1*var(--numberVisibleProjectCards));
        padding-top: 0;
        padding-bottom: 0;
    }
}

/* Mobile view: tablet (mini): horozontal */
@media(max-width: 1050px) and (max-height: 780px){
    .project-cards-container{
        padding-top: 0;
        padding-bottom: 0;
    }
}

/* Mobile view: tablet (horizontal) */
@media(max-width: 1370px) and (max-height: 1030px){
    .project-cards-container{
        height: calc(var(--minHeightProjectCard)*var(--numberVisibleProjectCards));
    }
}

/* Mobile view: smartphone */
@media screen and (max-width: 440px) and (max-height: 940px){
    .project-cards-container{
        width: var(--minAppWidth);
        height: calc(var(--minHeightCardContainer));
        padding-top: 5px;
        padding-bottom: 10px;
        gap: 5px;
    }

    .general-project-description{
        font-size: medium;
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: 5px;
        padding: 5px;
        max-height: 280px;
    }

    #portfolio-title{
        margin-bottom: 20px;
    }
}

/* Mobile view: smartphone (horizontal) */
@media screen and (max-width: 940px) and (max-height: 440px){
    .project-cards-container{
        height: calc(var(--minHeightCardContainer)*1.2);
    }

    .project-cards-container div{
        height: calc(var(--minHeightProjectCard, 50px)*0.88);
        margin-bottom: 0;
    }

    #portfolio-title{
        margin-bottom: 10px;
    }
}

/* Mobile view: smartphone (mini) */
@media screen and (max-width: 380px) and (max-height: 680px){
    .project-cards-container{
        min-height: calc(var(--minHeightCardContainer));
    }

    .project-cards-container div{
        height: calc(var(--minHeightProjectCard, 50px)*0.7);
        margin-bottom: 5px;
    }
}

/* Mobile view: smartphone (mini): horizontal */
@media screen and (max-width: 780px) and (max-height: 380px){
    .project-cards-container{
        min-height: calc(var(--minHeightCardContainer)*0.8);
    }

    .project-cards-container div{
        height: calc(var(--minHeightCardContainer)*0.33);
        margin-bottom: 0px;
    }
}