@import url('index.css');

.start-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: var(--minHeightHeader);
}

.start-content-container{
    margin-top: 0;
    display: flex;
    align-items: flex-start; /* Anpassen */
    flex-direction: row;
    justify-content: space-between;
    height: 80%;
}

.info-text-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 20px;
}

.greeting-text {
    font-size: 2rem;
    text-align: left;
}

.description-text{
    display: flex;
    text-align: left;
    font-size: 1.1rem;
    opacity: 0;
    transform: translateY(20px);
    animation: slideUp 1.3s ease-out forwards;
    animation-delay: var(--animationDelay);
    min-height: var(--minHeightDescriptionText); 
    height: 100%;
    width: 100%;
    overflow-y: auto;
    white-space: pre-line;
    margin-right: 15px;
    margin-top: 0;
    margin-bottom: 0;
}


@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Mobile view: laptop */
@media(max-width: 1930px) and (max-height: 1120px){
    .description-text{
        padding-right: 15px;
    }
}


/* Mobile view: tablet */
@media(max-width: 1030px) and (max-height: 1370px){
    .start-content-container{
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 0;
    }
    
    .info-text-container{
        width: 100%;
        height: 12%;
        align-items: center;
        justify-content: flex-end;
        margin-top: 0;
        margin-bottom: 20px;
        margin-right: 0;
    }

    .greeting-text{
        height: 20%;
        text-align: center;
    }

    .description-text{
        text-align: center;
        height: 30%;
        line-height: 1.2;
        margin-bottom: 20px;
        margin-right: 0;
        padding-right: 0;
    }

}


/* Mobile view: smartphone */
@media screen and (max-width: 440px) and (max-height: 940px){
    .start-content-container{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-top: 0;
    }
    .info-text-container{
        width: 100%;
        height: 10%;
        align-items: center;
        justify-content: center;
        margin-bottom: 25px;
        margin-right: 0;
    }
    .greeting-text{
        height: 100%;
        font-size: 1.9rem;
        margin-top: 25px;
        margin-bottom: 0;
    }
    .description-text{
        text-align: center;
        height: calc(var(--minHeightDescriptionText)*1.4); 
        line-height: 1.06;
        margin-bottom: 30px;
        padding-right: 0;
        margin-right: 0;
    }
}

/* Mobile view: smartphone (mini) */
@media screen and (max-width: 380px) and (max-height: 780px){
    .description-text{
        text-align: center;
        height: calc(var(--minHeightDescriptionText)*1.4); 
        line-height: 1.03;
        margin-bottom: 10px;
        padding-right: 0;
        margin-right: 0;
    }
}

/* Mobile view: smartphone (mini - horizontal) */
@media screen and (max-width: 780px) and (max-height: 380px){
    .description-text{
        text-align: center;
        height: calc(var(--minHeightDescriptionText)*1.4); 
        line-height: 1.03;
        margin-bottom: 10px;
        padding-right: 0;
        margin-right: 0;
    }
}


